.background{
    background-color: rgb(17, 12, 25);
}


.btn-uranium {
    background-color: #6610f2;
    border-color: #6610f2;
    color: white;
    transition: all 0.3s ease;
}


.btn-uranium:hover {
    background-color: #520dc2; 
    border-color: #520dc2;
    /*box-shadow: 0 0 15px rgba(102, 16, 242, 0.5); /* Purple Glow! */
    box-shadow: 0px 0px 15px rgba(81, 0, 255, 0.969);
}

.btn-outline-light:hover{
    background-color: white;
    color:black !important;
    box-shadow: 0px 0px 15px rgb(251, 251, 251, 0.5);
}
.hero-img {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    margin-top: 50px;
}


.feature-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.feature-card:hover {
    transform: translateY(-10px);
    border-color: #6610f2 !important;
    box-shadow: 0 0 20px rgba(102, 16, 242, 0.3);
}